{% extends 'base.html' %}

{% block header %}
  {% block title %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="login">
    Welcome back!
  </div>
  <form method="post">
  <div class="f">
    <label for="username">Username</label><br>
    <input name="username" id="username" value="{{ username }}" required><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Log In">
  </div>
  </form>
{% endblock %}