<!doctype html>
<title>{% block title %}{% endblock %} - StUDy Break</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<div class="topnav">
    <a class="{% if active=='home' %}active{%endif %}" href="{{ url_for('index') }}">
      <img src="https://cdn.discordapp.com/attachments/574782032962519064/576136389972721674/studybreaklogostarter.png" style="width:70px;height:14px;">
    </a>
    {% if g.user %}
    <a class="{% if active=='profile' %}active{%endif %}" href="{{ url_for('profile.profile', id=g.user['id']) }}">Profile</a>
    <a class="{% if active=='feed' %}active{%endif %}" href="{{ url_for('blog.index') }}">Feed</a>
    <a class="{% if active=='notif' %}active{% elif g.user['notifs'] %}notif{% endif %}" href="{{ url_for('notif.index') }}">Notifications ({{ g.user['notifs'] }})</a>
    <a class="{% if active=='groups' %}active{%endif %}" href="{{ url_for('groups.load_groups') }}">Groups</a>
    <a class="{% if active=='messages' %}active{%endif %}" href="{{ url_for('pm.getConvs') }}">Messages</a>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a class="{% if active=='register' %}active{%endif %}" href="{{ url_for('auth.register') }}">Register</a>
      <a class="{% if active=='login' %}active{%endif %}" href="{{ url_for('auth.login') }}">Log In</a> 
    {% endif %}
    <form action="{{ url_for('auth.search') }}" method="POST">
    <div class="search-container">
        <input type="text" placeholder="Search.." name="search" id="search">
        <input style="display: none" class="searchbutton" type="submit" value="submit">
    </div>
    </form>
  </div> 
<br><br>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
